@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<ResumePageResources> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
	Layout = "";
}

<html>
<head>
	<meta charset="utf-8">
	<!-- Dev icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" type="text/css">
	<!-- Bootstrap and custom styles-->
	<link rel="stylesheet" href="css/styles.css" type="text/css">
	<!-- PDF styling -->
	<style>
		* {
			font-family: Helvetica !important;
		}

		h1{
			font-size: 2.5em;
		}

		h2{
			font-size: 2em;
		}

		.dev-icons{
			font-size: 2.3em;
		}

		p,
		a,
		.text-primary{
			font-size: 0.95em;
		}

		.subheading{
			font-size: 0.85em;
		}

		.uppercase{
			text-transform: uppercase;
		}

	</style>
</head>
	<body data-bs-color-scheme="light" class="printable">
		<div class="container-fluid p-0" id="resume">
			<!-- About-->
			<div class="resume-section-content" style="page-break-after:always;">
				<span class="d-block d-lg-none">
					<img class="img-fluid img-profile-lg rounded-circle mx-auto mb-2" src="~/assets/img/profile.png" alt="..." />
				</span>
				<h1 class="mb-0">
				@SharedLocalizer["Name"]
					<span class="text-primary">@SharedLocalizer["Surname"]</span>
				</h1>
				<div class="mb-5 uppercase">
					<a href="mailto:hon.dalibor@gmail.com">hon.dalibor@gmail.com</a>
					<br />
					+420 732 932 559
				</div>
				<p class="lead mb-5">@Localizer["About_Introduction"]</p>
			</div>

			<!-- Experience-->
			<div class="resume-section-content mt-5">
				<h2 class="mb-5">@SharedLocalizer["Nav_Experience"]</h2>
				<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">ECM Business Consultant</h3>
						<div class="subheading mb-3">Konica Minolta IT Solutions Czech s.r.o</div>
						<p>@Localizer["ECMBusinessConsultantText"]</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">@Localizer["ECMBusinessConsultantDate"]</span></div>
				</div>
				<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">Analyst, Shared Services</h3>
						<div class="subheading mb-3">MONETA Money Bank a.s.</div>
						<p>@Localizer["MonetaAnalystText"]</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">@Localizer["MonetaAnalystDate"]</span></div>
				</div>
				<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">Administrator End User Services, IT</h3>
						<div class="subheading mb-3">MONETA Money Bank a.s.</div>
						<p>@Localizer["MonetaEndUserServicesText"]</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">@Localizer["MonetaEndUserServicesDate"]</span></div>
				</div>
				<div class="d-flex flex-column flex-md-row justify-content-between">
					<div class="flex-grow-1">
						<h3 class="mb-0">Motherboard technician</h3>
						<div class="subheading mb-3">ASUS Czech Service s.r.o.</div>
						<p>@Localizer["AsusTechnicianText"]</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">@Localizer["AsusTechnicianDate"]</span></div>
				</div>
			</div>
			<hr class="m-0" />

			<!-- Education-->
			<div class="resume-section-content mt-5">
				<h2 class="mb-5">@SharedLocalizer["Nav_Education"]</h2>
				<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">@Localizer["HighSchoolNaJizdarne"]</h3>
						<div class="subheading mb-3">@Localizer["MaturityDiploma"]</div>
						<p>@Localizer["HighSchoolNaJizdarneText"]</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">2010 - 2014</span></div>
				</div>
			</div>
			<hr class="m-0" />

			<!-- Skills-->
			<div class="resume-section-content mt-5">
				<h2 class="mb-5">@SharedLocalizer["Nav_Skills"]</h2>
				<p class="mb-5">@Localizer["Skills_Introduction"]</p>
				<div class="subheading mb-3">@Localizer["Skills_ProgrammingLangAndTools"]</div>
				<ul class="list-inline dev-icons">
					<li class="list-inline-item"><i class="fab fa-html5"></i></li>
					<li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
					<li class="list-inline-item"><i class="fab fa-js-square"></i></li>
					<li class="list-inline-item"><i class="fab fa-node-js"></i></li>
					<li class="list-inline-item"><i class="fab fa-sass"></i></li>
					<li class="list-inline-item"><i class="fab fa-npm"></i></li>
					<li class="list-inline-item"><i class="devicon-webpack-plain"></i></li>
					<li class="list-inline-item"><i class="devicon-csharp-line"></i></li>
					<li class="list-inline-item"><i class="devicon-dot-net-plain-wordmark"></i></li>
					<li class="list-inline-item"><i class="devicon-dotnetcore-plain"></i></li>
					<li class="list-inline-item"><i class="devicon-bootstrap-plain"></i></li>
					<li class="list-inline-item"><i class="devicon-microsoftsqlserver-plain-wordmark"></i></li>
					<li class="list-inline-item"><i class="devicon-git-plain"></i></li>
					<li class="list-inline-item"><i class="devicon-jquery-plain"></i></li>
					<li class="list-inline-item"><i class="devicon-photoshop-plain"></i></li>
					<li class="list-inline-item"><i class="devicon-azure-plain"></i></li>
				</ul>
				<div class="subheading mb-3">@Localizer["Skills_SoftwareAndPlatforms"]</div>
				<ul class="fa-ul mb-3">
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://www.abbyy.com/flexicapture/" target="_blank">ABBYY FlexiCapture</a>
					</li>
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://www.abbyy.com/finereader-server/" target="_blank">ABBYY FineReader Server</a>
					</li>
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://www.abbyy.com/vantage/" target="_blank">ABBYY Vantage</a>
					</li>
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://www.microsoft.com/cs-cz/microsoft-365/sharepoint/collaboration" target="_blank">Microsoft SharePoint</a>
					</li>
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://powerplatform.microsoft.com/en-us/" target="_blank">Microsoft PowerPlaftorm</a>
					</li>
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://www.m-files.com/" target="_blank">M-Files</a>
					</li>
					<li>
						<span class="fa-li"><i class="fa-solid fa-circle" style="font-size:smaller"></i></span>
						<a href="https://www.nintex.com/process-automation/k2-software/" target="_blank">K2 Five/K2 Cloud</a>
					</li>
				</ul>
				<br />
				<p>@Localizer["Skills_SoftwareAndPlatformsText"]</p>
			</div>
			<hr class="m-0" />

			<!-- Awards-->
			<div class="resume-section-content mt-5">
				<h2 class="mb-5">@SharedLocalizer["Nav_Certifications"]</h2>
				<p class="mb-5">@Html.Raw(Localizer["Cert_LinkedIn"])</p>
				<ul class="fa-ul mb-0">
					<li>
						<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
						Microsoft Certified: Power Platform Fundamentals (PL-900)
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
						ABBYY FlexiCapture 12 Basic
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
						K2 IT Developer
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
						K2 Business Analyst
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
						K2 Citizen Developer
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
						ABBYY Vantage Business Analyst
					</li>
				</ul>
				<br />
			</div>
			<hr class="m-0" />

			<!-- Interests-->
			<div class="resume-section-content mt-5">
				<h2 class="mb-5">@SharedLocalizer["Nav_Interests"]</h2>
				<p>@Localizer["InterestsText"]</p>
			</div>
		</div>
	</body>
</html>

